<div align="center">
  <h1>Contact us</h1>
</div>

<div class="row">
  <div class="col-sm-4">
    <h2>Address</h2>
    <address>

      Pyramid Books & Stationary Shop
        39- Nathu Singh Market <br>
    </address>
  </div>
  <div class="col-sm-8">
    <h2>Live map</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3505.505711893985!2d77.15268281483664!3d28.5245155824605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1e78b3dfff35%3A0x49625bba95f2453!2sPyramid+Books+%26+Stationary+Shop!5e0!3m2!1sen!2sin!4v1493304947582" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>