<div class="jumbotron">

  <table>
    <tr>
      <th>
        <h1 class="display-3">
          <small>Welcome to</small>
          <br>
          Pyramid Book Shop
        </h1>
      </th>
      <th>
        <%= image_tag "https://lscdn.azureedge.net/biz-live/img/347932-1091790-28022017124815.jpeg" %>
      </th>
    </tr>
  </table>
  <hr class="m-y-2">
  <p>Pick your book and order now!</p>

  <p class="lead">
    <%= link_to 'Menu', menu_path, class: 'btn btn-secondary' %>
    <%= link_to 'Contact us', contact_us_path, class: 'btn btn-secondary' %>
  </p>
</div>
